@import url('https://fonts.googleapis.com/css?family=Roboto:400,300&display=swap');
* {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}

.App {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.75) 100%), url('./img/sharon-mccutcheon-665638-unsplash.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.DateInput_input {
  font-family: 'Roboto', sans-serif;
}

.DateRangePicker {
  margin: auto;
  margin-right: 25px;
}


header {
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  color: #008489;
  font-size: 60px;
  font-weight: 300;
  text-align: left;
  display: flex;

}

.line-across {
  height: 0;
  border-top: 1px solid #008489;
  display: inline-block;
  margin: auto;
}

.line-1 {
  width: 30%;
}

.line-2 {
  width: 30%;
}

.picker-div {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.get-stats-btn {
  height: 48px;
  width: fit-content;
  padding: 0 30px;
  line-height: 48px;
  background-color: #00a699;
  color: #fff;
  margin: auto;
  margin-left: 25px;
  border-radius: 5px;
  font-size: 20px;
}

.get-stats-btn:hover {
  cursor: pointer;
}
